<%- include('partials/header') %>
</head>
<body>
    <%- include('partials/nav') %>
<div class="container">
    <form action="/register" method="post" class="">
        <h2>Register</h2>
         <div class="row">
             <label for="name">Name</label>
             <input type="text" name="name" id="name" class="form-input" required>
         </div>
         <div class="row">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-input"required>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"class="form-input" required>
        </div>
        <button type="submit" class="btn submit">Register</button>
    
    </form>
    <a href="/login">Already have an account? Login instead</a>
</div>

<%- include('partials/footer') %>