html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

input {
  border: none;
  /* Removes the default border */
}

input:focus {
  outline: none;
  /* Removes the border when the input is clicked */
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}

h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
}

p {
  margin-top: 0;
  font-size: 1rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  font-size: 0.8125rem;
  color: var(--secondary-color);
}

:root {
  --primary-color: #9c00cc;
  --secondary-color: #05ff9f;
  --tertiary-color: #068050;
  --highlight-color: #ffbc1f;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1.25rem;
  margin-inline: auto;
}
.container {
  display: grid;
  margin-inline: auto;
  margin-top: 10rem;
  width: clamp(16.25rem, 30vw, 20rem);
  border-radius: 16px;
  padding: 10px;
  background-color: hsl(286deg, 100%, 60%);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.form-input {
  border-radius: 4px;
  background-color: var(--primary-color);
  color: hsl(0deg, 0%, 9%);
}

.btn.submit {
  width: 100%;
  background-color: var(--highlight-color);
  border-radius: 4px;
  border: none;
  color: var(--tertiary-color);
  padding: 0.625rem 0.9375rem;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 1.875rem;
}

.product img {
  width: clamp(12.5rem, 20vw, 18.75rem);
  height: clamp(12.5rem, 20vw, 18.75rem);
}

td,
th {
  padding: 1rem;
}

.all-products {
  max-width: 100%;
}

.product,
thead {
  text-align: center;
}
@media (max-width: 56.24875em) {
  .product,
thead {
    display: grid;
    text-align: left;
  }
}

@media (max-width: 56.24875em) {
  .btns {
    display: inline-flex;
  }
}

@media (max-width: 56.24875em) {
  .btns a,
.btns form {
    margin-right: 0.5625rem;
  }
}

.shop-product img {
  width: clamp(11.25rem, 18vw, 14.375rem);
  height: clamp(11.25rem, 18vw, 14.375rem);
  border-radius: 10px;
}

.shop-product {
  display: grid;
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media (min-width: 43.75em) {
  .products-grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 56.25em) {
  .products-grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.products-contaier {
  display: grid;
  margin-inline: auto;
  margin-top: 10rem;
  width: 90vw;
  border-radius: 16px;
  padding: 10px;
  background-color: hsl(286deg, 100%, 60%);
}

.cart {
  width: 90%;
  display: grid;
  margin-inline: auto;
}

.cart-item {
  display: inline-flex;
}

.cart-item div,
.cart-item a {
  margin-right: 1vh;
}

.cart-item i {
  font-size: 1.125rem;
}/*# sourceMappingURL=styles.css.map */