html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-color: var(--black10);
  color: var(--black);
}

input {
  border: none;
  /* Removes the default border */
}

input:focus {
  outline: none;
  /* Removes the border when the input is clicked */
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  font-family: "PT Sans Narrow", sans-serif;
  margin-left: 1rem;
}

h1 {
  font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
}

h2 {
  font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem);
}

p {
  margin-top: 0;
  font-size: 1rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  font-size: 0.8125rem;
  color: var(--black);
}

:root {
  --primary-color: #cf33ff;
  --secondary-color: #681980;
  --black: #242125;
  --black75: #585659;
  --black50: #8c8b8d;
  --black25: #c1c0c1;
  --black10: #e1e0e1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1.25rem;
  margin-inline: auto;
}
.container {
  display: grid;
  margin-inline: auto;
  margin-top: 10rem;
  width: clamp(16.25rem, 30vw, 20rem);
  border-radius: 16px;
  padding: 10px;
  background-color: var(--black25);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.form-input {
  border-radius: 4px;
  background-color: var(--black10);
  color: var(--black75);
}

.btn.submit {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: none;
  color: var(--black10);
  padding: 0.625rem 0.9375rem;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 1.875rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  background-color: var(--primary-color);
}
@media (max-width: 43.74875em) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

@media (max-width: 43.74875em) {
  .navbar-links {
    display: none;
    width: 100%;
  }
}

.navbar-links ul {
  display: flex;
}
@media (max-width: 43.74875em) {
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 43.74875em) {
  .navbar-links li {
    text-align: center;
  }
}

.navbar-links li a {
  padding: 1rem;
  display: block;
}
@media (max-width: 43.74875em) {
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
}

.navbar-links li:hover {
  background-color: var(--secondary-color);
  color: var(--black25);
}

.navbar-links li:hover a {
  color: var(--black25);
}

.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.875rem;
  height: 1.3125rem;
}
@media (max-width: 43.74875em) {
  .toggle-btn {
    display: flex;
  }
}

.toggle-btn .bar {
  font-size: 1.25rem;
}

.navbar-links.active {
  display: flex;
}

.product img {
  width: clamp(12.5rem, 20vw, 18.75rem);
  height: clamp(12.5rem, 20vw, 18.75rem);
}

td,
th {
  padding: 1rem;
}

.all-products {
  max-width: 100%;
}

.product,
thead {
  text-align: center;
}
@media (max-width: 56.24875em) {
  .product,
thead {
    display: grid;
    text-align: left;
  }
}

@media (max-width: 56.24875em) {
  .btns {
    display: inline-flex;
  }
}

@media (max-width: 56.24875em) {
  .btns a,
.btns form {
    margin-right: 0.5625rem;
  }
}

h1.center {
  text-align: center;
}

.btn i {
  font-size: 1.125rem;
  color: var(--secondary-color);
}

.shop-product img {
  width: clamp(11.25rem, 18vw, 14.375rem);
  height: clamp(11.25rem, 18vw, 14.375rem);
  border-radius: 10px;
}

.shop-product {
  display: grid;
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-row-gap: 0.75rem;
}
@media (min-width: 43.75em) {
  .products-grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 56.25em) {
  .products-grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.products-contaier {
  display: grid;
  margin-inline: auto;
  margin-top: 10rem;
  width: 90vw;
  border-radius: 16px;
  padding: 10px;
  background-color: var(--black10);
}

.cart {
  width: 90%;
  display: grid;
  margin-inline: auto;
}

.cart-item {
  display: inline-flex;
  margin-left: 1rem;
}

.cart-item div,
.cart-item a {
  margin-right: 1vh;
}

.cart-item i {
  font-size: 1.125rem;
  color: var(--secondary-color);
}

.check-out {
  margin-left: 1rem;
}

.check-out-btn {
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: none;
  color: var(--black10) !important;
  padding: 0.625rem 0.9375rem;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 6.25rem;
}/*# sourceMappingURL=styles.css.map */