@use "../util" as u;
img {
  display: block;
  max-width: 100%;
}
.preview {
  overflow: hidden;
  width: u.rem(160);
  height: u.rem(160);
  margin: u.rem(10);
  border: 1px solid red;
}
#canvas {
  height: 600px;
  width: 600px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}
