@use "../util" as u;

.cart {
  width: 90%;
  display: grid;
  margin-inline: auto;
}
.cart-item {
  display: inline-flex;
  margin-left: 1rem;
}
.cart-item div,
.cart-item a {
  margin-right: 1vh;
}
.cart-item i {
  font-size: u.rem(18);
  color: var(--secondary-color);
}
.check-out {
  margin-left: 1rem;
}
.check-out-btn {
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: none;
  color: var(--black10) !important;
  padding: u.rem(10) u.rem(15);
  text-align: center;
  text-decoration: none;
  display: block;
  width: u.rem(100);
}
