@use "../util" as u;

.shop-product img {
  width: clamp(u.rem(180), 18vw, u.rem(230));
  height: clamp(u.rem(180), 18vw, u.rem(230));
  border-radius: 10px;
}
.shop-product {
  display: grid;
  text-align: center;
}
.products-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-row-gap: u.rem(12);
  @include u.breakpoint-up(medium) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  @include u.breakpoint-up(large) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.products-contaier {
  display: grid;
  margin-inline: auto;

  margin-top: 10rem;
  width: 90vw;
  border-radius: 16px;
  padding: 10px;
  background-color: var(--black10);
}
