<nav class="navbar">
    <div class="brand-title">Heliotrope</div>
    <a href="#"class="toggle-btn">
        <i class="fa-solid fa-bars bar"></i>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/products">User View</a></li> 
        </ul>
    </div>
</nav>